
body {
  /* width: 100%; */
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
  margin: 0;
}

img {
  width: 20px;
  height: 20px;
}
.sidebar {
  display: grid;
  grid-template-rows: 1fr 8fr  ;
  grid-row: 1/3;

  background-color: #1992d4;


}
.header {
  grid-column: 2/3;

  display: grid;
  grid-template-rows: 1fr 1.5fr;
}

.topBar {
  display: flex;

  justify-content: space-between;
  align-items: center;
  gap: 2rem;

  margin: 0rem 3rem;
}

.topBar input {
  flex: 1;
  margin-right: 4rem;
}
.navBar {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  margin: 0rem 3rem;
}

.profileName {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.nameCard {
  font-size: 1.3rem;
  font-weight: 800;
  margin: 0px;
}

.nameCard p,
h3 {
  margin: 0px;
}

.buttonGroup {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.mainContent {
  display: grid;
  grid-template-columns: 4fr 1fr;
  background-color: lightgrey;
}

.projectSection{

    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,200px));
    gap: 20px;
}



.projectCard{
    border: 2px solid green;

   
}
