body {
  /* width: 100%; */
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
  margin: 0;
}

img {
  width: 20px;
  height: 20px;
}

.sidebar {
  display: grid;
  grid-template-rows: 1fr 8fr;
  grid-row: 1/3;

  background-color: #1992d4;
}
.header {
  grid-column: 2/3;

  display: grid;
  grid-template-rows: 1fr 1.5fr;
}

.topBar {
  display: flex;

  justify-content: space-between;
  align-items: center;
  gap: 2rem;

  margin: 0rem 3rem;
}

.topBar input {
  flex: 1;
  margin-right: 4rem;
}
.navBar {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  margin: 0rem 3rem;
}

.profileName {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.nameCard {
  font-size: 1.3rem;
  font-weight: 800;
  margin: 0px;
}

.nameCard p,
h3 {
  margin: 0px;
}

.buttonGroup {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.mainContent {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: lightgrey;
}

.projectSection {
  display: grid;
  /* grid-template-columns: repeat(auto-fill,minmax(50px,500px)); */
  grid-template-columns: repeat(2, minmax(350px, 500px));
  /* grid-template-rows: repeat(auto-fill, minmax(250px, 2fr)); */
  grid-auto-rows: minmax(250px, 2fr);

  gap: 20px;
  margin: 0rem 2rem;
  overflow: visible;
}

.projectWrapper h2 {
  margin: 2rem 2rem;
}

.projectCard {
  border: 2px solid green;
  border-radius: 25px;
}

/* .rightSidebar {
  margin: 2rem 2rem;
} */


.rightSidebar h2 {
  margin: 2rem 2rem;
}

.announcementWrapper {
  background-color: white;
  border: solid 2px green;
  border-radius: 25px;

  margin: 0rem 2rem
}

.announceCard {
  margin: 2rem 2rem;


}
.announceCard:nth-child(2) {
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}

.trending {
  background-color: white;
  border: solid 2px green;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  margin: 0rem 2rem;
}

.trendingCard {
  display: flex;
  align-items: center;

  margin: 2rem 2rem;
}

.trendingCard img{
  width: 2rem;
  height: 2rem;
}

.nameTag p{
  margin: 0px;
}

h4 {
  margin: 0px;
}


